# Application
APP_PORT=8080
APP_ENV=development

# PostgreSQL / Supabase
SUPABASE_HOST=db.your-project.supabase.co
SUPABASE_PORT=5432
SUPABASE_USER=postgres
SUPABASE_PASSWORD=your-supabase-password
SUPABASE_DB=postgres

#postgres local
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin1234
POSTGRES_DB=sewasini

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRATION=24h

# Xendit
XENDIT_API_KEY=your-xendit-api-key
XENDIT_CALLBACK_TOKEN=your-callback-token

# Email
EMAIL_PROVIDER=sendgrid
SENDGRID_API_KEY=your-sendgrid-key
SENDGRID_FROM_EMAIL=noreply@sewasini.com
SENDGRID_FROM_NAME=SewaSini

MAILGUN_API_KEY=your-mailgun-key
MAILGUN_DOMAIN=mg.your-domain.com
MAILGUN_FROM_EMAIL=noreply@sewasini.com
MAILGUN_FROM_NAME=SewaSini
MAILGUN_BASE_URL=https://api.mailgun.net

# OTP
OTP_PROVIDER=twilio

TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_VERIFY_SERVICE_SID=your-twilio-verify-service-sid

FIREBASE_API_KEY=your-firebase-web-api-key
FIREBASE_RECAPTCHA_TOKEN=your-firebase-recaptcha-token
